<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ljt.study.spring.dao.BlogDao">

	<sql id="t_blog">T_BLOG</sql>
	
	<insert id="insert" parameterType="blog" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO <include refid="t_blog" />
			(title)
		VALUES
			(#{title})
	</insert>
	
	<select id="getById" resultType="blog">
		SELECT * FROM <include refid="t_blog" /> WHERE id = #{id}
	</select>
	
</mapper>